<header>
  <div class="logo">
    <a href="javascript:;">HACK FOR GZ</a>
  </div>
  <nav>
    <ul>
      <li><a href="javascript:;">比赛介绍</a></li>
      <li><a href="javascript:;">主题了解</a></li>
      <li><a href="javascript:;">现场图集</a></li>
    </ul>
  </nav>
</header>

<section class="introduction-banner">
  <div class="slogan">
    <h1>开放数据之上的城市建设</h1>
    <p>第二届广州创客马拉松 hack for GZ</p>
  </div>
</section>

<section class="who-we-are">
  <div class="column-title">
    <div class="abstract">
      <h2>Who We Are</h2>
      <p>我们是一群人，一群好人，你懂得，这些都是废话。</p>
    </div>
  </div>
  <div class="column-content">
  </div>
</section>

<section class="open-source">
  <div class="column-title">
    <h2>开源项目</h2>
  </div>
  <div class="open-source-content">
    <div class="open-source-project-progress clearfix">
      <div class="project-item">
        <h6>项目想法</h6>
        <h3>水污染数据整理</h3>
      </div>
      <div class="project-item">
        <h6>合作帮助</h6>
        <h3>代码整合求助</h3>
      </div>
      <div class="project-item">
        <h6>合作帮助</h6>
        <h3>APP求设计师</h3>
      </div>
      <div class="project-item">
        <h6>来吐槽的</h6>
        <h3>你管我</h3>
      </div>
    </div>
    <div class="show-all-project">
      <a href="" class="show-all-project-btn">展开所有</a>
    </div>
  </div>
  
</section>

<section class="partners">
  <div class="column-title">
    <h2>合作伙伴</h2>
  </div>
  <div class="partners-logo">
    <a href="javascript:;"><%= image_tag "partners-logo.png" %></a>
  </div>
</section>

<footer>
  
</footer>
