body{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
header{
  height: 80px;
  background: #ededeb;
  .logo{
    float: left;
    margin-left: 80px;
    a{
      font-weight: 600;
      color: #616161;
      text-decoration: none;
      font-size: 1em;
      padding: 32px 0;
      display: block;
    }
  }
  nav{
    margin-right: 48px;
    ul{
      float: right;
      li{
        list-style: none;
        float: left;
        padding: 32px;
        a{
          color: #3f3f3f;
          text-decoration: none;
        }
      }
    }
  }
}

.introduction-banner{
  width: 100%;
  height: 660px;
  .slider{
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%; /* ??? */
  }
  .slider-inner {
    cursor: move;
    position: absolute;
    overflow: hidden;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
  }
  .slider-navigator {
    bottom: 16px;
    right: calc(50% - 12px);
    position: absolute;
    div, div:hover, .av {
      position: absolute;
      /* size of bullet elment */
      width: 12px;
      height: 12px;
      background: image-url("bullet.png") no-repeat;
      overflow: hidden;
      cursor: pointer;
    }
    div { background-position: -9px -9px; }
    div:hover, .av:hover { background-position: -39px -9px; }
    .av { background-position: -69px -9px; }
    .dn, .dn:hover { background-position: -99px -9px; }
  }
  .signup_button {
    width: 15.8%;
    left: 42.1%;
    bottom: 23.6%;
    position: absolute;
    text-decoration: none;
    > div {
      background-color: #37ac73;
      font-size: 24px;
      color: white;
      font-family: Heiti, '黑体';
      text-align: center;
      padding: 10px 0;
    }
  }
}

.who-we-are{
  position: relative;

  .column-title{
    position: relative;
    height: 346px;
    .abstract{
      width: 100%;
      height: 132px;
      margin-top: 120px;
      text-align: center;
      .title {
        font-size: 48px;
        margin-bottom: 50px;
        color: #6c6c6c;
      }
      p{
        font-size: 24px;
        line-height: 48px;
        color: #848383;
        font-family: Hiragino Sans GB;
        word-spacing: 0.2em;
      }
    }
  }
  /*.column-content{
    background: image-url("who-we-are-bg.jpg") no-repeat;
    background-size: 100%;
    width: 100%;
    height: 620px;
  }*/
}

.open-source{
  background: #a52a2a;
  .column-title{
    text-align: center;
    padding-top: 120px;
    font-size: 48px;
    color: white;
  }
  .column-subtitle {
    margin: 28px auto 54px;
    width: 70%;
    font-size: 1.2em;
    color: white;
    font-family: Hiragino Sans SB;
    font-weight: lighter;
    text-align: center;
  }
  .open-source-content{
    .open-source-project-progress{
      margin: 0 6%;
      .project-item{
        width: 25%;
        text-align: center;
        float: left;
        background: #fff;
        min-height: 256px;
        box-sizing: border-box;
        border-right: 1px solid #b0b0b0;
        &:last-child{
          margin-right: 0;
          border-right: 0;
        }
        a {
          text-decoration: none;
        }
        .wrapper {
          display: block;
          padding: 10px 0;
        }
        .name {
          margin-top: 15px;
          color: #6d6171;
          text-transform: uppercase;
          font-family: "Interstate", "Gotham A", "Gotham B", "Open Sans Regular", "Verdana", "Helvetica", "Arial";
          line-height: 1.8em;
        }
        .issue-title {
          margin-top: 20px;
          font-family: "Freight Text", "Sentinel SSm A", "Sentinel SSm B", "Georgia", Times, sans-serif;
          font-size: 24px;
          line-height: 1.15em;
          color: #399fd3;
        }
        .labels {
          margin-top: 20px;
        }
        .label {
          border: 1px solid #00a175;
          background-color: #00a175;
          display: inline-block;
          color: #fff;
          text-align: center;
          border-radius: .33em;
          margin: 5px;
          padding: 5px 10px;
          font-family: Interstate, 'Gotham A', 'Gotham B', 'Open Sans Regular', Verdana, Helvetica, Arial;
        }
      }
    }

    .show-all-project{
      position: relative;
      padding: 100px 0;
      text-align: center;
      .articles {
        position: absolute;
        text-align: left;
        margin-left: 6%;
        a { color: white; text-decoration: none; }
        p {
          font-size: 18px;
          padding: 4px 0;
          border-bottom: 1px dotted #ccc;
        }
      }
      .show-all-project-btn{
        color: white;
        font-size: 24fpx;
        text-decoration: none;
      }
    }
  }
}

.partners{
  .column-title{
    margin: 86px 0 56px;
    h2{
      text-align: center;
      color: #949494;
      font-size: 36px;
    }
  }
  .partners-logos{
    .logo {
      width: 24%;
      /*margin: 0 0.5%;*/
    }
    width: 80%;
    margin: 0 auto 118px;
  }
}
