body{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

$headerHeight: 60px;
$buttonColor: #37ac73;

header{
  height: $headerHeight;
  background: #ededeb;
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 0;

  .logo{
    float: left;
    margin-left: 80px;
    a{
      font-weight: 600;
      color: #616161;
      text-decoration: none;
      display: block;
      line-height: $headerHeight;
    }
  }
  nav{
    margin-right: 48px;
    ul{
      float: right;
      li{
        list-style: none;
        float: left;
        padding: 0 32px;

        $navButtonVerMargin: $headerHeight * 0.2 - 2px;
        a{
          text-decoration: none;
          display: block;
          line-height: $headerHeight * 0.6;
          margin: $navButtonVerMargin 0;
          padding: 0 1.5em;
          background-color: $buttonColor;
          color: white;
          border: 2px solid #37ac73;

          &:hover {
            background-color: transparent;
            color: $buttonColor;
          }
        }
      }
    }
  }
}

$biggerScreenWidth: 1920px;

$sliderHeight: 600px;
$sliderHeightOnBiggerScreen: 720px;
$signupButton: 18px;

$whoWeAreTitle: 32px;
$whoWeAreContent: 16px;

$openSourceTitle: 32px;
$openSourceSubtitle: 18px;
$projectName: 18px;
$projectHeight: 256px;
$projectIssueTitle: 24px;
$projectIssueLabel: 16px;
$backupProjTitle: 24px;

$showAllProj: 16px;
$showAllProjButton: 20px;

$faqTitle: 32px;
$faqTab: 16px;

$qMark: 30px;
$qQuestion: 20px;
$qAnswer: 16px;

$partnerSponsorContent: 20px;
$partnerSubtitle: 20px;

.introduction-banner{
  margin-top: $headerHeight;
  .slider{
    position: relative;
    overflow: auto;
    text-align: center;
    ul { list-style: none; }
    ul li {
      display: block;
      float: left;

      background-size: 100% 100%;
      -webkit-background-size: 100% 100%;
      -moz-background-size: 100% 100%;
      -ms-background-size: 100% 100%;
      -o-background-size: 100% 100%;

      min-height: $sliderHeight;
      box-sizing: border-box;

      @media only screen and (min-width: $biggerScreenWidth) {
        min-height: $sliderHeightOnBiggerScreen;
      }

      @for $i from 1 through 2 {
        &.pic-#{$i} { background-image: image-url("homepage-slider-#{$i}.jpg"); }
      }
    }
    .dots {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 20px;

      li {
        display: inline-block;
        width: 10px;
        height: 10px;
        margin: 0 4px;
        text-indent: -999em;
        border: 2px solid #fff;
        border-radius: 6px;
        cursor: pointer;
        opacity: .4;
        box-sizing: border-box;
        transition: background .5s, opacity .5s;
        -webkit-transition: background .5s, opacity .5s;
        -moz-transition: background .5s, opacity .5s;
        -webkit-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
        -moz-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
        -ms-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
        -o-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
        filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
        &.active {
          opacity: 1;
          background: #fff;
        }
      }
    }
  }

  .signup_button {
    width: 15.8%;
    left: 42.1%;
    bottom: 21.8%;
    position: absolute;
    text-decoration: none;
    display: block;

    > div {
      background-color: $buttonColor;
      border: 2px solid $buttonColor;
      font-size: $signupButton;
      color: white;
      font-family: Heiti, '黑体';
      text-align: center;
      padding: 0.6em 0;

      &:hover {
        background-color: transparent;
        color: $buttonColor;
      }
    }
  }
}

.who-we-are{
  position: relative;
  font-weight: 300;
  margin-bottom: 5em;
  .abstract {
    width: 100%;
    margin-bottom: 3em;
    text-align: center;
    .title {
      font-size: $whoWeAreTitle;
      margin-top: 2em;
      margin-bottom: 0.5em;
      color: #6c6c6c;
    }
    p {
      font-size: $whoWeAreContent;
      line-height: 2em;
      color: #848383;
      font-family: Hiragino Sans GB;
      word-spacing: 0.2em;
    }
  }
}

#open-source{
  background-color: #a52a2a;
  background-image: image-url("gz-background.png");
  background-repeat: no-repeat;
  background-size: auto 450px;
  background-position: 100px 50px;
  margin-bottom: 5em;

  .title {
    text-align: center;
    padding-top: 2em;
    font-size: $openSourceTitle;
    color: white;
  }
  .subtitle {
    margin: 1.5em auto;
    width: 70%;
    font-size: $openSourceSubtitle;
    color: white;
    font-family: Hiragino Sans SB;
    font-weight: lighter;
    text-align: center;
    letter-spacing: 0.06em;
  }
  .open-source-content{
    .open-source-project-progress{
      margin: 0 6%;
      .project-item{
        width: 25%;
        text-align: center;
        float: left;
        background: #fff;
        height: $projectHeight;
        box-sizing: border-box;
        border-right: 1px solid #b0b0b0;
        &:last-child{
          margin-right: 0;
          border-right: 0;
        }
        a {
          text-decoration: none;
        }
        h3 {
          color: #3f3f3f;
          font-size: $backupProjTitle;
          a { color: #3f3f3f; }
        }
        h6 {
          color: #9f9f9f;
          margin: 62px 0 52px;
        }
        .wrapper {
          display: block;
          padding: 10px 0;
          box-sizing: border-box;
          height: $projectHeight;
        }
        .name {
          margin-top: 2em;
          font-size: $projectName;
          color: #6d6171;
          text-transform: uppercase;
          font-family: "Interstate", "Gotham A", "Gotham B", "Open Sans Regular", "Verdana", "Helvetica", "Arial";
          line-height: 1.8em;
        }
        .issue-title {
          margin-top: 1em;
          font-family: "Freight Text", "Sentinel SSm A", "Sentinel SSm B", "Georgia", Times, sans-serif;
          font-size: $projectIssueTitle;
          line-height: 1.15em;
          color: #399fd3;

          &:hover {
            color: #000000;
          }
        }
        .labels {
          margin-top: 1.5em;
        }
        .label {
          border: 1px solid #00a175;
          background-color: #00a175;
          display: inline-block;
          color: #fff;
          text-align: center;
          border-radius: .33em;
          margin: 0.2em;
          padding: 0.4em 0.6em;
          font-family: Interstate, 'Gotham A', 'Gotham B', 'Open Sans Regular', Verdana, Helvetica, Arial;
          font-size: $projectIssueLabel;
        }
      }
    }

    .show-all-project{
      position: relative;
      padding: 4em 0 3em;
      text-align: center;
      .articles {
        position: absolute;
        text-align: left;
        margin-left: 6%;
        bottom: 3em;
        a { color: white; text-decoration: none; }
        p {
          font-size: $showAllProj;
          padding: 0.2em 0;
          border-bottom: 1px dotted #ccc;
        }
      }
      .show-all-project-btn{
        color: white;
        font-size: $showAllProjButton;
        text-decoration: none;
      }
    }
  }
}

#faq {
  padding-bottom: 5em;
  border-bottom: 1px solid #ccc;

  .title {
    margin-top: 2em;
    font-size: $faqTitle;
    text-align: center;
  }
  $tabsNum: 5;
  .tabs {
    width: 78%;
    margin: 1.5em auto 0;
    overflow: hidden;
    .tab {
      float: left;
      width: 100% / $tabsNum;
      text-align: center;
      padding: 0.625em 0;
      border-bottom: 0.35em solid #acacac;
      cursor: pointer;
      font-size: $faqTab;

      &.even {
        border-bottom: 0.35em solid #818181;
      }
    }
    .tab.active {
      &.one { border-color: #d92000; }
      &.two { border-color: #f5cd01; }
      &.three { border-color: #1382ff; }
      &.four { border-color: #3ac30f; }
      &.five { border-color: #a429d7; }
    }
  }
  .contents {
    clear: both;
    width: 78%;
    margin: 0 auto;
    .content {
      opacity: 0;
      margin-top: 40px;
      transition: opacity .5s linear;
      -webkit-transition: opacity .5s linear;
      -moz-transition: opacity .5s linear;
      -o-transition: opacity .5s linear;
      position: relative;
      top: 0;
      left: 0;
      overflow: hidden;
      display: none;
      &.active {
        opacity: 1;
        display: block;
      }

      &.transport {
        .map {
          width: 700px;
          float: left;
        }
        .description {
          width: calc(100% - 700px);
          float: left;
          padding: 50px 40px;
          box-sizing: border-box;
          font-size: 18px;
          line-height: 1.5em;

          p { margin-bottom: 1em; }
        }
      }
      &.signup {
        > div {
          text-align: center;
        }
        a {
          text-decoration: none;
          color: #1382ff;
          font-size: 20px;
        }
      }
      &.contact {
        img { margin: 0 auto; display: block; }
      }

      &.one .q-mark { background-color: #d92000; }
      &.two .q-mark { background-color: #f5cd01; }
      &.three .q-mark { background-color: #1382ff; }
      &.four .q-mark { background-color: #3ac30f; }
    }
    .q-item {
      width: 46%;
      overflow: hidden;
      float: left;
      margin-bottom: 1.5em;
      &.odd { margin-right: 8%; }
      .q-mark {
        float: left;
        width: $qMark;
        height: $qMark;
        line-height: $qMark;
        border-radius: 50%;
        text-align: center;
        color: white;
      }
      .q-body {
        float: left;
        width: calc(100% - #{$qMark});
        padding: 0 0.33em;
        box-sizing: border-box;
      }
      .question {
        font-size: $qQuestion;
        color: #848383;
        line-height: 1.5em;
      }
      .answer {
        margin-top: 0.5em;
        font-size: $qAnswer;
        line-height: 1.5em;
        color: #414141;
      }
    }
  }
}

@mixin partner-section($imageUrl, $h, $w) {
  background-image: image-url($imageUrl);
  background-repeat: no-repeat;
  float: left;
  height: $h;
  width: $w;
}
@mixin partner-inner-content() {
  .content-inner {
    text-align: center;
    a { display: inline-block; }
  }
}
@mixin partner-icon-list($list, $y: 0) {
  @each $index, $x in $list {
    &.partner-#{$index} { background-position: $x $y; }
  }
}

#partners{
  padding-top: 2em;
  margin-bottom: 160px;
  .category {
    margin-bottom: 2.5em;
    clear: both;

    img.logo {
      display: block;
      margin: 0 auto;
    }
    .subtitle {
      color: #595959;
      text-align: center;
      font-size: $partnerSubtitle;
      line-height: 1.5em;
    }
    .content {
      width: calc(100% - 260px);
      margin: 0 auto;
    }

    &.sponsor {
      .content {
        font-size: $partnerSponsorContent;
        text-align: center;
        margin-top: 0.7em;
      }
    }
    &.organizer {
      @include partner-inner-content();
      .partner {
        @include partner-section("partners/organizers.png", 160px, 260px);
        $list: (0: 0, 1: -260px, 2: -520px);
        @include partner-icon-list($list);
      }
    }
    &.media {
      @include partner-inner-content();
      .partner {
        @include partner-section("partners/media-partners.png", 100px, 260px);
        $list: (0: 0, 1: -300px);
        @include partner-icon-list($list);
      }
    }
    &.open-data {
      @include partner-inner-content();
      .partner {
        @include partner-section("partners/data-partners.png", 100px, 280px);
        $list: (0: 0, 1: -300px);
        @include partner-icon-list($list);
      }
    }

    &.community {
      .partner {
        @include partner-section("partners/community-partners.png", 120px, 195px);

        box-sizing: border-box;
        padding-left: 20px;
        padding-right: 20px;

        &.first { padding-left: 0; }
        &.last { padding-right: 0; }

        $list: (0: 0, 1: -225px, 2: -440px, 3: -665px,
                4: -880px, 5: -1090px, 6: -1310px, 7: -1520px);
        @include partner-icon-list($list);

        $list: (8: 0, 9: -215px, 10: -440px);
        $backgroundPositionY: -147px;
        @include partner-icon-list($list, $backgroundPositionY);
      }
    }
  }
}

/*** For big screen ***/

@mixin largerFont($size, $mul:1.5) {
  font-size: $size * $mul;
}
body.screen_max {
  .introduction-banner .slider ul li {
    min-height: $sliderHeight * 1.2;
  }
  .introduction-banner .signup_button > div {
    @include largerFont($signupButton, 1.2);
  }
  .who-we-are .abstract {
    .title { @include largerFont($whoWeAreTitle); }
    p { @include largerFont($whoWeAreContent); }
  }
  #open-source {
    .title { @include largerFont($openSourceTitle); }
    .subtitle { @include largerFont($openSourceSubtitle, 1.2222); }
  }
  .project-item {
    .wrapper { height: $projectHeight; }
    .name { @include largerFont($projectName); }
    h3 { @include largerFont($backupProjTitle); }
    .issue-title { @include largerFont($projectIssueTitle); }
    .label { @include largerFont($projectIssueLabel); }
  }
  .show-all-project {
    .articles p { @include largerFont($showAllProj); }
    .show-all-project-btn { @include largerFont($showAllProjButton); }
  }
  #faq {
    .title { @include largerFont($faqTitle); }
    .tab { @include largerFont($faqTab); }
    .q-mark {
      width: $qMark * 1.5;
      height: $qMark * 1.5;
      line-height: $qMark * 1.5;
    }
    .q-body {
      width: calc(100% - #{$qMark * 1.5});
    }
    .question { @include largerFont($qQuestion); }
    .content.signup a { @include largerFont(20px); }

    .contents {
      .q-item {
        .answer { @include largerFont($qAnswer, 1.25); }
      }
    }
  }
  #partners {
    .category.sponsor .content {
      @include largerFont($partnerSponsorContent);
    }
    .subtitle { @include largerFont($partnerSubtitle); }
  }
}
