<header>
  <div class="logo">
    <a href="/"><%= image_tag "logo.png" %></a>
  </div>
  <nav>
    <ul>
      <!--<li><a href="javascript:;">比赛介绍</a></li>
      <li><a href="javascript:;">主题了解</a></li>-->
      <li><a href="http://www.huodongxing.com/event/9280906940000?utm_source=events&utm_medium=search&utm_campaign=hdxevents/?from=gzhack" target="_blank">报名参赛</a></li>
      <li>
        <%= link_to "作品提交", new_work_path, class: 'submit' %>
      </li>
    </ul>
  </nav>
</header>
